body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.txt-bold{
    font-weight: bold;
}
.txt-22{
    font-size: 22px;
}
.txt-25{
    font-size: 25px;
}
.txt-20{
    font-size: 20px;
}
.txt-18{
    font-size: 18px;
}


header {
    background-color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.navbar .logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;

}
.navbar .logo a img{
    width: 150px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.hamburger {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
  
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        /* background-color: #333; */
        background-color: rgba(51, 51, 51, 0.3);
        padding-left: 2rem;
        z-index: 100;
        
    }

    .nav-links.active {
        display: flex;
    
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hamburger {
        display: block;        
    }
    
}

/* ************************************************************ */

.carousel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
   
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    
}

.carousel-item img {
    border:1px solid #333;
    width:100%;
    aspect-ratio: 5/2; /*   width/height    */
    /*   4/2 in this case 4 is width and 2 is hieght    */
    /* object-fit:cover; */
    display: inline-block;
   
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    /* z-index: 100; */

}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* *************************************************
 */
 .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 10px;
   
    /* width: calc(33.333% - 20px); 3 cards per row with margin */
    width: calc(30% - 20px); /* 3 cards per row with margin */
    
    box-sizing: border-box;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    border-radius: 5px;
    height: auto;
    overflow: hidden;    /* new added */
    /* padding: 2px;
    border-radius: 8px;*/
    aspect-ratio: 3/2;
    
}
.card img:hover{
    transform: scale(1.1);
    transition: ease-in 0.3s;
}

.card-content {
    padding: 15px;
}

.card-content h2 {
    margin: 0 0 10px;
    font-size: 18px;
}

.card-content p {
    margin: 0;
    color: #666;
}



/* .card:hover {
    transform: scale(1.03);
} */

@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px); /* 2 cards per row on tablets */
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%; /* 1 card per row on mobile */
    }
}

.main-header{
    padding: 10px 30px;
    color: rgb(0, 166, 255);
    font-size:40px;
    font-weight: bolder;
}
.main-header p{
    font-size: 30%;
    margin-top: 10px;
    margin-bottom: 0px;
}

.company-into{
    display: grid;
    padding: 4rem;
    grid-template-columns: 3fr 1fr;
}

.col{
    padding: 10px;
    border: 1px solid red;
    
}

#title-text{
    font-size:3rem;
    background: -webkit-linear-gradient(#99d3ee, #c3dde9, #8aeeb9);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
